/* Defining root variables for later use */

:root {
    --light-primary: #EDEDF5;
    --dark-primary: #32343C;
    --header-primary: #4D5B78;
    --contrast-primary: #9EC9CC;
    --title: 50px;
    --vertical-border: 5px solid var(--header-primary);
    --small-img: 48%;
    --img-height: 100px;
}

/* Universal selectors - apply to entire HTML unless otherwise specified */

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Element selectors: apply to each specified element within HTML structure */

body {
    margin: 0px;
}

header {
    background-color: var(--dark-primary);
    color: var(--contrast-primary);
    position: relative;
    width: auto;
}

h1 {
    background-color: var(--contrast-primary);
    color: var(--dark-primary);
    display: inline-block;
    padding: 0 0.75% 0 4%;
    font-size: var(--title);
    margin: 5px 0 15px 0;
}

nav ul {
    list-style-type: none;
    text-align: right;
    position: absolute;
    right: 75px;
    top: 8px;
}

nav li {
    float: inline-start;
    font-size: 22px;
    padding: 0px 10px 4px 10px;
    border-bottom: 4px solid var(--contrast-primary);
    margin-right: 10px;
}

nav a {
    color: var(--contrast-primary);
    text-decoration: none;
}

section img {
    position: absolute;
    top: -40px;
    left: -20px;
    height: 215px;
    transform: rotate(-15deg);
    background: none;
    z-index: 1;
}

section h3 {
    position: absolute;
    top: 75px;
    right: 50px;
    background-color: var(--contrast-primary);
    font-size: 36px;
    padding: 5px 10px 5px 10px;
}

main {
    margin-top: 50px;
    color: var(--header-primary);
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


p {
    letter-spacing: 1px;
}

article a {
    background-size: cover; 
    margin: 0.5%;
    border: 5px solid var(--contrast-primary);  
    position: relative;
}

figure {
    width: max-content;
    padding: 0px 5px 0px 5px;
    background-color: var(--contrast-primary);
    color: var(--dark-primary);
    margin-left: 0;
    margin-bottom: 20px;
    line-height: 0.6;
}

figure a {
    text-decoration: none;
    color: var(--dark-primary);
    font-size: 24px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    line-height: 1;
    vertical-align: middle;
}

footer ul {
    padding-top: 20px;
    list-style-type: none;
    display: inline-flex;
}

footer li {
    float: inline-start;
    font-size: 22px;
    padding: 0px 10px 4px 10px;
    border-bottom: 4px solid var(--header-primary);
    margin-right: 50px;
}

footer a {
    color: var(--dark-primary);
    text-decoration: none;
}

h5 {
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    margin: 0px;
    color: #fdfdfd
}

/* Pseudo-class selector - targets an item (article links) only when user is hovering or when link is active (for mobile-devices) */

article a:hover, article a:active {
    opacity: .7;
}

/* Class selectors: apply to all elements specified with each class */

.banner {
    position: relative;
    background-image: url("./banner.jpg");
    background-size: cover;
    background-position: 15%;
    height: 200px;
    color: var(--dark-primary);
}

.article-header {
    width: 25%;
    font-size: 36px;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 40px;
    color: var(--header-primary);
}

.article-header h2 {
    margin-top: 0;
}

.right {
    width: 70%;
    padding-left: 2%;
    border-left: var(--vertical-border);
    margin-bottom: 40px;
}

.first-page {
    width: 100%;
    height: 600px;
    background-image: url("./horiseon.jpg");
}

.smaller-page {
    width: 48%;
    height: 200px;
}

.second-page {
    background-image: url("./prework-study-guide.png");
}

.third-page {
    background-image: url("./student-bio-template.png");
}

.coming-soon {
    background-image: url("./coming-soon.jpeg");
    background-position: 200px
}

.label {
    position: absolute;
    bottom: 0px;
}

.label h4 {
    font-size: 22px;
}

.contact-links {
    width: 70%;
    padding-left: 2%;
    border-left: var(--vertical-border);
    margin-bottom: 25px;
}

/* Media queries: to allow my webpage to maintain it's functionality when screen width decreases */

@media screen and (max-width: 1330px) {

    header {
        padding: 0;
    }
    
    nav ul {
        position: relative;
        display: block;
        width: 104%;
        margin: 0px;
    }

    nav li {
        float: none;
        padding: 5px;
        text-align: center;
        margin-right: 0;
    }

    section img {
        top: 200px;
        left: 76%;
        margin: 0px;
        transform: rotate(7deg);
    }

    .article-header {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0;
        padding-top: 50px;
    }

    .right {
        width: 100%;
        margin: 10px;
    }

    .first-page  {
        max-width: 100%;
    }

    .smaller-page {
        width: 100%;
    }
  
    .contact-links {
        width: 100%;
    }

    footer ul {
        display: block;
        text-align: center;
    }
    
    footer li {
        float: none;
        padding: 10px;
    }    

}

@media screen and (max-width:618px) {
        
    section h3 {
        position: relative;
        padding: 0px;
        margin: 50px;
        width: 100%;
        font-size: 20px;
    }

    section img {
        height: 150px;
        top: 100px;
    }
}

@media screen and (max-width:618px) {

    section img {
        left: 60%;
        top: 110px;
    }
}